/* Variables de colores */
:root {
    --background-color: rgb(212, 206, 206);
    --nav-color: #333;
    --text-color: white;
    --accent-color: rgb(253, 13, 13);
    --box-shadow-color: black;
}

/* Estilos generales y reset de estilos */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    font-size: 1.1rem;
}
h2{
    color: var(--nav-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 2.5rem;


}

/* Menú de Navegación */
#menu {
    background-color: var(--nav-color);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}
#menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    width: 30%;
}

#menu a {
    text-decoration: none;
    color: var(--text-color);
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 1.5vh 0 1.5vh;
    padding: 1vh;
}

#menu a:hover {
    border-bottom: 2px solid var(--accent-color);
}

.nombreInicio {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.fotoInicio {
    width: 9%;
    height: 18%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 45%;
    top: 75%;
    border: 1vh solid var(--nav-color);
    box-shadow: 0 0 0.5vh var(--box-shadow-color);
}

.fotoInicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sección Hero */
#hero {
    background-image: url('images/hero.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

main {
    margin-top: 10vh;
}

main section {
    margin-bottom: 10vh;
}

    /* Sección Sobre Mí */
    #sobre-mi {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10vh;
        width: 100%;
    }
    
    .contenidoSobreMi {
        width: 50%;
        text-align: center;
        background-color: white;
        border: 0.2vh solid #333;
        border-radius: 2vh;
        padding: 3vh;
        
    }

    .imagenSobreMi{
        width: 25%;
        
    }
    .imagenSobreMi img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    



    
    /* Sección Mi Trabajo */
    #MisProyectos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10vh;
    }
    .contenedorProyectos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10vh;
        justify-content: space-around;
        
    }

    .proyectos{   
        position:relative;
        width: 50vh;
        
        border: 0.2vh solid #333;

     
    }
    .textoProyecto{
        display: none;
        position: absolute;
        top: 90%;
        background-color: rgb(253, 13, 13);
        opacity: 70%;
        color: white;
        width: 100%;
        font-size: 110%;
        transition: all 0.5s;
        text-align: center;
    }
    .proyectos:hover .textoProyecto{
        display: block;
    }
    .proyectos:hover{
        transform: scale(0.9);
        transition: 0.3s;
        
    }
    .imagenProyecto{
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }
    .imagenProyecto img{
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
    
    




    
    
    
    
    
    /* Sección Servicios */
    #servicios {
        text-align: center;
        margin: 10vh;
    }
    
    .boxServicios {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .servicio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 25vh;
        height: 40vh;
        background-color:white;
        padding: 2rem;
        margin: 2rem;
    }
    
    .servicio img {
        width: 10vh;
        height: 10vh;
    }
    
    .servicio:hover {
        transform: scale(1.1);
        transition: 0.5s;
        border: 0.1vh solid var(--nav-color);
        border-radius: 2vh;
    }
    
    #habilidades {
        text-align: center;
        width: 90%;
        
        margin: 0 auto;
        padding: 2vh;
        
    }
    /* Sección Habilidades */
    .boxHabilidades {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: white;
        border: 0.3vh solid var(--nav-color);
        
        
    }
    .boxHabilidad{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .habilidad{
        width: 25%;
        margin: 1vh;
    }
    .barra-progreso{
       height: 1.5vh;
        background-color: rgb(253, 13, 13);
        border-radius: 1vh;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1em;
    }
    #skillPhp{
        width: 60%;
    }
    #skillJava{
        width: 95%;
    }
    #skillSql{
        width: 80%;
    }
    #skillHtml{
        width: 80%;
    }
    #skillJs{
        width: 90%;
    }
    #skillCss{
        width: 90%;
    }
    
    /* Sección Testimonios */
    #testimonios {
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .testimonio{
        width: 60%;
        margin: 2vh;
        padding: 2vh;
        border: 0.2vh solid #333;
        border-radius: 2vh;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imagenTestimonio{
        width: 30vh;
        height: 20vh;
        border-radius: 6vh;
        overflow: hidden;
        border: 0.2vh solid #333;
        box-shadow: 0 0 0.5vh black;
    }
    .imagenTestimonio img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }
    .textoTestimonio{
        width: 60%;
        text-align: center;

    }

    /* Sección Contacto */

    #contacto{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;


    }
    .formContacto {
        width: 50%;
        margin: 2vh;
        padding: 2vh;
        border-radius: 5vh;
        background-color: var(--accent-color);
        border: 0.3vh solid var(--nav-color);
    }

    .formContacto form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .formContacto form input {
        width: 80%;
        margin: 1vh;
        padding: 1vh;
        border-radius: 2vh;
        border: 0.2vh solid var(--nav-color);
    }
    
    .formContacto form textarea {
        width: 80%;
        margin: 1vh;
        padding: 1vh;
        border-radius: 2vh;
        border: 0.2vh solid var(--nav-color);
    }
    
    .formContacto form button {
        width: 30%;
        margin: 1vh;
        padding: 1vh;
        border-radius: 2vh;
        border: 0.2vh solid var(--nav-color);
        background-color: white;
        color: var(--accent-color);
        font-weight: bold;
    }
    
    .formContacto form button:hover {
        background-color: var(--nav-color);
        color: white;
        transition: 0.5s;
    }
    .socialMediaContacto{
        display:flex;
        justify-content: space-around;
        width: 50%;
    }
    .socialMediaContacto img{
        width: 7vh;
        height: 7vh;
       
    }

    /* Footer */
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--nav-color);
        color: var(--text-color);
        height: 10vh;
    }
    
    
    
    /* Menú Hamburguesa */
    #menuHamburguesa {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--nav-color);
        z-index: 2;
    }
    
    #menuHamburguesa ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    #menuHamburguesa li {
        margin: 1vh;
    }
    
    #menuHamburguesa a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5em;
    }
    
    .hamburger {
        position: fixed;
        top: 2vh;
        right: 2vh;
        display: none;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 3; 
    }


    /* Media Queries */
   
    @media (max-width: 600px) {
        body{
            font-size: 0.8rem;
        }
        #menu {
            display: none;
        }
    
        .hamburger {
            display: block;
        }
    
        #menuHamburguesa {
            display: none; 
        }
        .imagenTestimonio {
            width: 30%;
            height: 20%;
        }

        #sobre-mi{
            flex-direction: column;
            align-items: center;
        }
        .contenidoSobreMi{
            width: 80%;
        }
    

    }

    @media (max-width: 1450px) {
            .fotoInicio{
               display: none;
            }
            .nombreInicio{
                display: block;
                background-color: white;
                color: var(--nav-color);
            }
            #menu ul{
                width: 50%;
            }
    }

    

    
  
